# core

> Fill in a module description here

In [ ]:
#| default_exp core

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd

In [ ]:
#| export
def move_columns(
    df: pd.DataFrame,  # Input
    cols_to_move: str,  # Single 
    pos: int  # Target
) -> pd.DataFrame:
    """
    Move one or more columns to a specified position in a DataFrame.
    """

    # Ensure `cols_to_move` is always a list
    if isinstance(cols_to_move, str):
        cols_to_move = [cols_to_move]

    cols = list(df.columns)

    # Remove the columns to be moved from the current order
    for c in cols_to_move:
        cols.remove(c)

    # Insert the removed columns after the specified position
    new_cols = cols[:pos] + cols_to_move + cols[pos:]

    # Return the reordered DataFrame
    return df[new_cols]

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
move_columns(df, 'C', 0)

   C  A  B
0  7  1  4
1  8  2  5
2  9  3  6

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()