In [ ]:
#| hide
from mis_core.etl import *

# mis_core

>

This file will become your README and also the index of your documentation.

## Developer Guide

If you are new to using `nbdev` here are some useful pointers to get you started.

### Install mis_core in Development mode

```sh
# make sure mis_core package is installed in development mode
$ pip install -e .

# make changes under nbs/ directory
# ...

# compile to have changes apply to mis_core
$ nbdev_prepare
```

## Usage

In [ ]:
df = get_demo_data()
df

   order_id   product  quantity  defects  production_time
0       101  Widget A        50        2              120
1       102  Widget B        30        1               95
2       103  Widget A        75        3              150
3       104  Widget C        20        0               80
4       105  Widget B        45        2              110

In [ ]:
@track
def aggregate_by_product(df):
    return df.groupby(["product"])[["quantity", "defects", "production_time"]].sum()

In [ ]:
@track
def filter_products(df):
    return df[df["product"] != "Widget C"]

In [ ]:
steps = [
    (filter_products, {'vrbs':True}),
    (aggregate_by_product, {}),
]

In [ ]:
_df = pipeline(df, steps, vrbs_default=False)

*************** filter_products ***************
Total Time: 1.75 ms

Start: 2025-12-18 16:05:55.759474
  End: 2025-12-18 16:05:55.761225

Input DataFrame:
  order_id   product quantity defects production_time
0      101  Widget A       50       2             120
1      102  Widget B       30       1              95
2      103  Widget A       75       3             150
         :         :        :       :               :
3      104  Widget C       20       0              80
1      102  Widget B       30       1              95
4      105  Widget B       45       2             110
0      101  Widget A       50       2             120
2      103  Widget A       75       3             150
         :         :        :       :               :
2      103  Widget A       75       3             150
3      104  Widget C       20       0              80
4      105  Widget B       45       2             110

        Input:   5 rows, 5 cols
                     ↓       ↓
        Diff:   -1 rows, 0 cols
                     ↓       ↓
        Output:  4 rows, 5 cols

Output DataFrame:
  order_id   product quantity defects production_time
0      101  Widget A       50       2             120
1      102  Widget B       30       1              95
2      103  Widget A       75       3             150
         :         :        :       :               :
4      105  Widget B       45       2             110
0      101  Widget A       50       2             120
2      103  Widget A       75       3             150
1      102  Widget B       30       1              95
         :         :        :       :               :
1      102  Widget B       30       1              95
2      103  Widget A       75       3             150
4      105  Widget B       45       2             110

### Installation

Install latest from the GitHub [repository][repo]:

```sh
$ pip install git+https://github.com/MIS-Analytics/mis_core.git
```

or from [conda][conda]

```sh
$ conda install -c MIS-Analytics mis_core
```

or from [pypi][pypi]


```sh
$ pip install mis_core
```


[repo]: https://github.com/MIS-Analytics/mis_core
[docs]: https://MIS-Analytics.github.io/mis_core/
[pypi]: https://pypi.org/project/mis_core/
[conda]: https://anaconda.org/MIS-Analytics/mis_core

### Documentation

Documentation can be found hosted on this GitHub [repository][repo]'s [pages][docs]. Additionally you can find package manager specific guidelines on [conda][conda] and [pypi][pypi] respectively.

[repo]: https://github.com/MIS-Analytics/mis_core
[docs]: https://MIS-Analytics.github.io/mis_core/
[pypi]: https://pypi.org/project/mis_core/
[conda]: https://anaconda.org/MIS-Analytics/mis_core

## How to use

Fill me in please! Don't forget code examples:

In [ ]:
1+1

2